/*	admin.css */

.tt-subscribe-admin h1 { background: #2ea2cc; padding: 15px; margin: 10px 0; color: #fff; text-shadow: 1px 1px 1px #1D4E61; border-bottom: 8px solid #1E8DBB; }

.tt-subscribe-admin h2 { padding: 15px 0 0 0; margin: 20px 0 0 0; color: #111; text-shadow: 1px 1px 1px #1D4E61; }

.tt-subscribe-admin h3 { display: block; }

.empty { color: #C00505; }

.filled { color: #2DC569; }


/** NAVIGATION **/

.tt-subscribe-admin #tt-subscribe-admin-nav { display: block; margin: 0; padding: 0;}

.tt-subscribe-admin #tt-subscribe-admin-nav ul { border-bottom: 3px solid #0074a2; }

.tt-subscribe-admin #tt-subscribe-admin-nav ul li { display: inline-block; margin: 0 auto; padding: 0; text-align: center; }

.tt-subscribe-admin #tt-subscribe-admin-nav ul li a, .tt-subscribe-admin #tt-subscribe-admin-nav ul li a:visited { display: block; padding: 10px 20px; margin: 3px 0 0 0; width: 110px; background: #2ea2cc; border-top: 1px solid #0074a2; border-right: 1px solid #0074a2; border-left: 1px solid #0074a2; color: #fff; text-decoration: none; font-weight:bold; text-shadow: 1px 1px 1px #1D4E61; }

.tt-subscribe-admin #tt-subscribe-admin-nav ul li.active a, .tt-subscribe-admin #tt-subscribe-admin-nav ul li.active a:active { color: #fff;  background: #00B3E8; border-top: 1px solid #14A1CA; border-right: 1px solid #14A1CA; border-left: 1px solid #14A1CA; text-shadow: 1px 1px 1px #247294; }

.tt-subscribe-admin #tt-subscribe-admin-nav ul li a:hover { color: #fff;  background: #0074a2; border-top: 1px solid #2ea2cc; border-right: 1px solid #2ea2cc; border-left: 1px solid #2ea2cc; text-shadow: 1px 1px 1px #818181; }

.tt-subscribe-admin #tt-subscribe-admin-nav ul li#donate a, .tt-subscribe-admin #tt-subscribe-admin-nav ul li#donate a:visited { background: #FAD92E; border-top: 1px solid #F2CA2E; border-right: 1px solid #F2CA2E; border-left: 1px solid #F2CA2E; color: #383838; text-decoration: none; font-weight: bold; text-shadow: 1px 1px 1px #413521; }

.tt-subscribe-admin #tt-subscribe-admin-nav ul li#donate a:hover, .tt-subscribe-admin #tt-subscribe-admin-nav ul li#donate a:active { color: #fff;  background: #DBB20E; border-top: 1px solid #C2A533; border-right: 1px solid #C2A533; border-left: 1px solid #C2A533; text-shadow: 1px 1px 1px #776C20; }

/** CONTENT AREA **/

#tt-subscribe-admin-panel div, .tt-subscribe-admin-subs div { display: block; font-size: 10px; padding: 10px 0;  }

#tt-subscribe-admin-panel label, .tt-subscribe-admin-subs label { width: 180px; float: left; font-size: 15px; margin: 0; padding: 8px 0; }

#tt-subscribe-admin-panel div input, .tt-subscribe-admin-subs div input { font-size: 14px; text-align: left; width: 250px; margin: 0; padding: 5px; }

#tt-subscribe-admin-selection input[type="checkbox"] { display: inline-block;  margin: 0 10px 0 0; padding: 0;}
#tt-subscribe-admin-selection label { display: inline-block; margin-right: 4px; padding: 0; }

#tt-subscribe-admin-panel div p, .tt-subscribe-admin-subs div p { display: inline-block; font-size: 10px; padding: 10px 0; margin:0; }

#tt-subscribe-admin-select{ display: block; border: 1px solid #AADEF4; background: #D3EBF2; padding: 0 20px; margin-right: 20px; margin-bottom: 20px; }

.tt-subscribe-admin-subs { display: block; border: 1px solid #D7E8EF; background: #EEF5F7; padding: 0 20px; margin-right: 20px; margin-bottom: 20px; }

.tt-subscribe-admin-support, .tt-subscribe-admin-about { display: block; border: 1px solid #0074a2; background: #EFF8FA; padding: 0 20px; margin-right: 20px; margin-bottom: 20px; }

.tt-subscribe-admin-home { display: inline-table; border: 1px dashed #0074a2; background: #EFF8FA; padding: 0 20px; margin-right: 20px; margin-bottom: 20px; max-width: 500px; }

#tt-subscribe-admin-select h3 { margin-top: 8px; margin-bottom: 8px; }

#tt-subscribe-admin-selection { margin-bottom: 10px; }

div[id^="tt-subscribe-admin-selection"] input[type="checkbox"] { width: 16px!important; display: inline-block;  margin: 11px 10px 16px 0!important; padding: 0;}
div[id^="tt-subscribe-admin-selection"] label { display: inline-block; margin: 0; padding: 0; }
div[id^="tt-subscribe-admin-selection"] { margin-bottom: 10px; }
div[class^="tt-subscribe-admin-subdivs"] div { display: block; font-size: 10px; padding: 10px 0;  }
div[class^="tt-subscribe-admin-subdivs"]div input { font-size: 14px; text-align: left; width: 250px; margin: 0; padding: 5px; }
div[class^="tt-subscribe-admin-subdivs"] div p { display: inline-block; font-size: 10px; padding: 10px 0; margin:0; }
#tt-subscribe-admin-panel div[class^="tt-subscribe-admin-subdivs"] { display: block; border: 1px solid #D7E8EF; background: #EEF5F7; padding: 0 20px; margin-right: 20px; margin-bottom: 20px; }
#tt-subscribe-admin-panel div[class^="tt-subscribe-admin-subdivs"] label { width: 158px; float: left; font-size: 15px; margin: 0; padding: 8px 0; }


/** FOOTER AREA **/

.tt-subscribe-admin .tt-subscribe-admin-footer { background: #2ea2cc; margin: 20px 0 0 0; padding: 8px 8px 8px 20px; border-top: 8px solid #1E8DBB; color: #fff; text-shadow: 1px 1px 1px #1D4E61; }

.tt-subscribe-admin .tt-subscribe-admin-footer a { color: #fff; text-shadow: 1px 1px 1px #1D4E61; text-decoration: underline; }
.tt-subscribe-admin .tt-subscribe-admin-footer a:hover { color: #000; }


/** RESPONSIVE AREA **/
@media (max-width: 720px) {	
	.tt-subscribe-admin #tt-subscribe-admin-nav ul li, .tt-subscribe-admin #tt-subscribe-admin-nav ul li a, .tt-subscribe-admin #tt-subscribe-admin-nav ul li#donate a { width: 100%; margin: 0; }
	.tt-subscribe-admin textarea { width: 98%; }
	#tt-subscribe-admin-panel label, .tt-subscribe-admin-subs label { width: 100%; }
	#tt-subscribe-admin-panel div input, .tt-subscribe-admin-subs div input { width: 98%; }
	#tt-subscribe-admin-panel div p, .tt-subscribe-admin-subs div p { width: 100%; }
	div[id^="tt-subscribe-admin-selection"] input[type="checkbox"] { width: 25px!important; margin: 10px 10px 0 0!important; }
}
@media (max-width: 500px) {	
	div[id^="tt-subscribe-admin-selection"] label { width: 50%; margin: 10px 0; }
}