/* 	style.css */

div#tt-subscribe {
	width: 280px;
	height: auto;
	margin: 0px auto;
	padding: 0 0 10px 10px;
}

#tt-subscribe-header {
	color: #fff;
	background: #6d84b4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div#tt-subscribe h1 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 10px 5px 10px;
	text-align: left;
	line-height: 16px; /* fix on content area */
	margin: 0; /* fix on content area */
	color: #fff; /* fix on content area */
}

div#tt-subscribe h1 #h1up {
	font-size: 16px;
	font-weight: normal;
}

#tt-subscribe-icons {
	width: 280px;
	height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#tt-subscribe-facebook, #tt-subscribe-twitter,#tt-subscribe-google, #tt-subscribe-feedburner {
	width: 20px;
	height: 20px;
	display: inline-block;
}

#tt-subscribe-facebook {
	background-image: url(../images/facebook-logo.png);
}
#tt-subscribe-twitter {
	background-image: url(../images/twitter.png);
}
#tt-subscribe-google {
	background-image: url(../images/google-g-logo.png);
}
#tt-subscribe-feedburner {
	background-image: url(../images/feedburner-logo.png);
}


#tt-subscribe-facebook:hover, #tt-subscribe-facebook.active {
	background-image: url(../images/facebook-logo-square.png);
}
#tt-subscribe-twitter:hover, #tt-subscribe-twitter.active  {
	background-image: url(../images/twitter-logo-square.png);
}
#tt-subscribe-google:hover, #tt-subscribe-google.active  {
	background-image: url(../images/google-logo-square.png);
}

#tt-subscribe-feedburner:hover, #tt-subscribe-feedburner.active {
	background-image: url(../images/feedburner-logo-square.png);
}

#tt-subscribe-area {
	background: none;
	color: #333;
}

#tt-subscribe-area-facebook, #tt-subscribe-area-twitter, #tt-subscribe-area-google, #tt-subscribe-area-feedburner {
	margin: 5px 10px 5px 10px;
	width: 260px;
	height: 80px;
	text-align:center;
}

#tt-subscribe-area-facebook iframe, #tt-subscribe-area-twitter iframe, #tt-subscribe-area-google iframe, #tt-subscribe-area-feedburner iframe {
	margin:0!important;
	padding:0!important;
}


#tt-subscribe-area-facebook a, #tt-subscribe-area-twitter a, #tt-subscribe-area-google a, #tt-subscribe-area-feedburner a {
	font-size: 12px;
	padding: 0;
	margin: 0;
	display: block;
}
