/*	admin.css */

div#tt-subscribe-admin {
	color: #333;
	width: 600px;
}

div#tt-subscribe-admin h1 {
	color: #333;
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	text-shadow: #bbb 1px 1px 3px;
	box-shadow: #eee 0px 2px 0px;
}

div#tt-subscribe-admin h2 {
	color: #333;
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	text-shadow: #bbb 1px 1px 3px;
	box-shadow: #eee 0px 2px 0px;
}


div#tt-subscribe-admin form {
	color: #333;
	background: #eee;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 10px;
	text-shadow: #ddd 1px 1px 3px;
}

div#tt-subscribe-admin form input {
	width: 400px;
	font-size: 18px;
	text-align: left;
}

div#tt-subscribe-admin form label {
	font-size: 14px;
}

div#tt-subscribe-admin form div div {
	width: 110px;
	margin: 0px;
	padding: 0 30px;
	display: inline-block;
}

div#tt-subscribe-admin form p {
	font-size: 10px;
	margin: 0 10px 0 0;
	padding: 0 0 10px 0;
	text-align: right;
}

div#tt-subscribe-admin-select div#selection {
	width: auto;
	padding: 0 30px!important;
}

div#tt-subscribe-admin-select label {
	width: 110px!important;
	padding: 0 0 0 15px;
}

div#tt-subscribe-admin-select input {
	width: 20px!important;
}


div#tt-subscribe-admin form input#tt-subscribe-submit {
	font-size: 18px;
	text-align: center;
	margin: 0 0 0 80px;
}



div#tt-subscribe-admin-footer {
	text-align: center;
	width: 600px;
	margin: 0px;
}
